@{
    SportsVenueBookingCommon.Models.User teacher = ViewBag.techerInfo as SportsVenueBookingCommon.Models.User;
}
<div class="main">
    <!--系统信息 开始-->
    <div class="layout order">
        <div id="modifyUserForm">
            <div class="lay-bd">
                <div class="infoblock">
                    <div class="tit clearfix">
                        <div class="tit-txt">
                            <span class="required">*</span>
                            <label>基本信息</label>
                        </div>
                        <div class="tit-btn" id="basic_info_edit_div">
                            <a class="btn92" id="basic_info_edit" shape="rect">
                                <span class="i-editbtn">
                                    <label>编辑</label>
                                </span>
                            </a>
                        </div>
                        <div class="tit-btn" id="basic_info_save_div" style="display: none;">
                            <a class="btn92" id="basic_info_save" shape="rect">
                                <span class="i-savebtn">
                                    <label>保存</label>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--编辑-->
                    <div class="base" id="basic_info_base">
                        <div class="info-item">
                            <span class="label">
                                <span class="required">*</span>
                                教师编号：
                            </span>
                            <div class="con">@teacher.user_UserNumber</div>
                        </div>
                        <div class="info-item">
                            <span class="label">
                                <span class="required">*</span>
                                姓名：
                            </span>
                            <input id="t_name" type="text" value="@teacher.user_Name">
                        </div>
                        <div class="info-item">
                            <span class="label">
                                <span class="required">*</span>
                                备注：
                            </span>
                            <input id="t_remark" type="text" value="@teacher.user_Remark">
                        </div>
                        <div class="info-item">
                            <span class="label">
                                <span class="required">*</span>
                                登录密码：
                            </span>
                            <div class="con">
                                <input type="password" id="t_pwd" value="" name="userDTO.password" maxlength="25" class="inptxt w200 color333">
                                <span class="tips one-line required">正确输入密码才能修改个人资料</span>
                            </div>

                        </div>
                    </div>
                    <!--查看-->
                    <div class="base-view" id="basic_info_view">
                        <div class="info-item">
                            <span class="label">
                                <span class="required">*</span>
                                教师编号：
                            </span>
                            <div class="con">@teacher.user_UserNumber</div>
                        </div>
                        <div class="info-item">
                            <span class="label">
                                <span class="required">*</span>
                                姓名：
                            </span>
                            <div class="con">@teacher.user_Name</div>
                        </div>
                        <div class="info-item">
                            <span class="label">用户状态：</span>
                            <div>
                                @if (teacher.user_Status)
                                {
                                    <div style="color:#FF7F00" th:text="${notice1}">锁定</div>
                                }
                                else
                                {
                                    <div class="con" style="color:#0077FF;" title="">正常</div>
                                }
                            </div>
                        </div>
                        <div class="info-item">
                            <span class="label">
                                <span class="required"></span>
                                备注：
                            </span>
                            <div class="con">@teacher.user_Remark</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#basic_info_edit_div").click(function ()
    {
        $("#basic_info_base").css("display", "block");
        $("#basic_info_view").css("display", "none");
        $("#basic_info_edit_div").css("display", "none");
        $("#basic_info_save_div").css("display", "block");
    });
    $("#basic_info_save_div").click(function ()
    {
        $("#basic_info_view").css("display", "block");
        $("#basic_info_base").css("display", "none");
        $("#basic_info_save_div").css("display", "none");
        $("#basic_info_edit_div").css("display", "block");

        $.ajax({
            type: "post",
            url: "/Teacher/ModifyPwd",
            data: {
                t_id: "@teacher.user_Id",
                t_num: $("#t_name").val(),
                t_remark: $("#t_remark").val(),
                t_pwd: $("#t_pwd").val()
            },
            success: function (data)
            {
                
            }
        });
    });
</script>